:host{
    display: flex; /*Flex container para distribuir el header, main y footer*/
    flex-direction: column; /*Direccion de los hijos en columna*/
    height: 100vh; /*Altura total de la ventana del navegador*/
    overflow: hidden; /*Evita scroll en el componente completo*/
}

.main-content{
    flex: 1;  /*Ocupa el espacio restante entre header y el footer*/
    display: flex; /*Centrar el contenido*/
    justify-content: center; /*Centra horizontalmente los hijos*/
    align-items: flex-start; /*Alinea los hijos al unicio vertical (parte supeior)*/
    padding: 1rem; 
    overflow: hidden; /*Evita scrool interno en el area principal*/
}

.chat-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 100%;
}

